.first{
    margin-top: 5rem;
}

.first span.circle{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #000;
    display: inline-block;
    margin-right: 1rem;
    animation: loading 1s linear 0.2s infinite ;
}

.first span.circle:nth-child(2){
    animation-delay: 0.4s;
}

.first span.circle:nth-child(3){
    animation-delay: 0.6s;
}


.second {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 5rem;
  }
  .second div {
    position: absolute;
    border: 4px solid #000;
    opacity: 1;
    border-radius: 50%;
    animation: pulse 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .second div:nth-child(2) {
    animation-delay: -0.5s;
  }

.third{
    display: flex;
    align-items: center;
    margin-top: 5rem;
    height: 1.5rem;
    border: solid red;
    width: 10rem;
}

.third span.progress{
    width: 1.5rem;
    height: 1.4rem;
    background: #000;
    display: inline-block;
    animation: progress 1s linear infinite alternate;
}

@keyframes loading{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(5px)
    }
    50%{
        transform: translateY(0)
    }
    75%{
        transform: translateY(-5px)
    }
    100%{
        transform: translateY(0)
    }
}

@keyframes progress{
    0%{
        transform: translateX(0)
    }
    25%{
        transform: translateX(2.5rem);
    }
    50%{
        transform: translateX(5rem)
    }
    75%{
        transform: translateX(7.5rem);
    }
    100%{
        transform: translateX(8.5rem);
    }
}

@keyframes pulse {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }

  @keyframes pulse {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  